<style>
footer{
        position: relative;
        color: black;
        background-color: lightgrey;
        width: 95%;
        position: fixed;
        bottom: 2%;
        right: 3%;
}
</style>
<footer>
    <p> This webiste is under the ownership of  {{name}}&copy; </p>
</footer>