<style>
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height:18px ;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    padding: 15px 20px;
    margin: 5px;
    font-weight: 700;
}
</style>

<section style="display : flex;justify-self:center; min-height: 200px;; justify-content:left; align-items:end">
    <h1 style="font-size: 50px; cursor:pointer;">{{title}}</h1>
</section>
<nav>
    <a href="/">Weather</a>
    <a href="/help">Need Help</a>
    <a href="/about">About Us</a>
</nav>